body {
  height: 100vh;
  overflow: hidden;

  .wrapper {    
    background-color: $color-secondary;
    height: 100%;
    overflow: hidden;

    > .content-wrapper {
      background-color: $color-white;
      box-shadow: $shadow-content;
      height: calc(100vh - #{$header-height});
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      z-index: 1;

      > .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 30px;
        width: 100%;

        > .tab-content {
          flex-grow: 1;

          > .tab-pane {
            height: 100%;
          }
        }
      }
    }
  }
}

.main-content-grid {
  display: grid;
  gap: 15px;
  width: 100%;

  &.simple-grid {
    grid-template-areas:
      "gm1   gm2   gm3      gm4     "
      "table table barchart barchart";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 480px;
  }

  &.advanced-grid {
    grid-template-areas:
      "gm1 gm1 gm2 gm2 table table    table    table   "
      "map map map map table table    table    table   "
      "map map map map lm1   barchart barchart barchart"
      "map map map map lm2   barchart barchart barchart";
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto 310px 220px 220px;
  }
  
  @media (max-width: 1199px) {

    &.simple-grid {
      grid-template-areas:
        "gm1      gm2     "
        "gm3      gm4     "
        "table    table   "
        "barchart barchart";
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto) repeat(2, 480px);
    }
  
    &.advanced-grid {
      grid-template-areas:
        "gm1      gm2     "
        "map      map     "
        "lm1      lm2     "
        "table    table   "
        "barchart barchart";
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 480px auto repeat(2, 480px);
    }
  }
}