// Main colors
$color-white: #fff;
$color-black: #0a1e2b;
$color-primary: #5B6C7B;
$color-secondary: #172201;
$color-bckg: #e3e7e9;
$color-GR10: #2eb89a;
$color-GR11: #b8552e;
$color-HRP: #2e4cb8;

// Sizes
$header-height: 60px;

// Hover effect
$hover-fast: 0.15s;
$hover-normal: 0.25s;
$hover-slow: 0.5s;

// Shadows
$shadow-header: 0 4px 15px rgba(0,0,0,.15);
$shadow-content: 0 0 40px rgba(0,0,0,.2);
$shadow-card: 0 3px 10px rgba(0,0,0,.25);

// Radius
$radius-box: 10px;